@model IEnumerable<Video>
@using Common.Extensions

@{
    //Layout = null;
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>
    @{
        bool isEmpty = Model.Count() == 0;
        string header = isEmpty ? "Your cart is empty" : "";
    }
    <span> @header </span>
    @foreach (Video v in Model)
    {
        <div id='videodiv-@v.VideoID' class="videocontainer">
            @{Html.RenderPartial("VideoPartial", v);}
            @Html.SubmitButton("Remove from cart", new { @class = "btn btn-danger", id = "cartButton-" + v.VideoID, })
        </div>
    }
    <br /><br />
    <div id="checkout" style="width:30%;margin:auto">
        @if (!isEmpty)
        {
            @Html.ActionLink("Checkout", "Checkout", "Order", null, new { id = "checkoutButton", @class = "btn btn-success" });
        }
        &emsp;
        @Html.ActionLink("Continue shopping", "Index", "Store", null, new { @class = "btn btn-default" })
    </div>
</p>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-danger').click(function () {
            var url = '/Cart/RemoveFromCart';
            var vid = this.getAttribute('id').toString();
            var id = vid.substring(vid.indexOf('-') + 1);
            $.post(url, { videoID: id },
                clearDiv(id)
            )
        })
    });

    function clearDiv(id) {
        var divID = '#videodiv-' + id;
        $(divID).remove();
        var videos = $('.videocontainer').length;
        if (videos == 0)
            $('#checkoutButton').remove();
    }

</script>
