@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">We're sorry...</h1>
<h1 class="text-danger">Something bad happened. Please go back to the home page.</h1>

