@model string   
<div>
    <h4>Welcome @Model</h4>
    <br />
   
    @using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Account", "Index", "Account", null, new { @class = "btn btn-primary" });
        @:&emsp;
        <input type="submit" value="Log out" class="btn btn-primary" />
    }
</div>